.profile-heading {
  position: relative;
  
  .profile-text {
    position: absolute;
    bottom: 0;
    left: 50%;

    h1 {
      margin: 0;
      line-height: 22px;

      span {
        font-size: 16px;
        color: $brand-primary;
        font-style: italics;
      }
    }
  }
}

.request-notifier {
  margin-top: 70px;
}

.profile-body {
  margin-top: 30px;

  .language-box {
    @include border-radius(20px);
    background-color: #c2aabb;
    margin-bottom: 30px;
    padding: 10px 20px 20px 20px;


  


  }
}