<div class="row">
  <div class="col-md-2">
    <img class="profile-pic" ng-src='{{userProfile.pic}}'/>
  </div>
  <div class="col-md-10">
  <h3>{{userProfile.name}}</h3>
  </div>
</div>
<h4>From: {{userProfile.country}}</h4>
<h4>Learning: <span ng-repeat='language in userProfile.languagesLearning'> {{language.language}}: {{language.ability}} </span></h4>
<h4>Speaks: <span ng-repeat='language in userProfile.languagesSpeaking'> {{language.language}}: {{language.ability}} </span></h4>
<h4>Introduction</h4>
<p>{{userProfile.intro}}</p>
<button ng-hide='successfulRequest'><a ng-click='partnerRequest()'>Request As Language Partner</a></button>
<p ng-hide='!successfulRequest'>Request Pending</p>