.user-video video {
  width: 160px;
  height: 120px;
  margin-right: 0px;
}
.video-wrapper.user-video {
  height: 180px;
  width: 100%;
}
.partner-video video {
  width: 600px;
  height: 450px;
}
.user-panel {
  text-align: center;
}

.user-panel button {
  margin-bottom: 15px;
}