$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

/**
 * Override some bootstrap variables
 */

$brand-primary: darken(#795A6E, 6.5%);
$brand-success: #43394F;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * Define some new variables for jabbr
 */

 $dashboard-primary: darken(#795A6E, 6.5%);

/**
 * App-wide Styles
 */

.navbar.navbar-static-top {
  margin-bottom: 0px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'account/preferences/preferences.scss';
@import 'admin/admin.scss';
@import 'dashboard/dashboard.scss';
@import 'dashboard/deck/deck.scss';
@import 'dashboard/inbox/inbox.scss';
@import 'dashboard/messager/messager.scss';
@import 'dashboard/overview/overview.scss';
@import 'dashboard/partners/partners.scss';
@import 'dashboard/profile/profile.scss';
@import 'dashboard/recordings/recordings.scss';
@import 'dashboard/room/views/room.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector