$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

/**
 * Override some bootstrap variables
 */

$brand-primary: #6194F0;
$brand-success: #43394F;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Paytone+One|Noto+Serif|Anton|Monoton|Droid+Serif|Cinzel+Decorative|Oswald|Berkshire+Swash|Gentium+Book+Basic|Bree+Serif|Alegreya+SC|Cinzel|Baumans);
/**
 * Define some new variables for jabbr
 */
 $dashboard-primary: #6194F0;
 $jabbr-blue: #8CBEB2;
 $jabbr-purple: #664C5D;
 $jabbr-yellow: #F2EBBF;
 $jabbr-orange: #F3B562;
 $jabbr-red: #F06060;
/**
 * App-wide Styles
 */

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(245, 192, 192, 0.31);
}

.navbar.navbar-static-top {
  margin-bottom: 0px;
  background-color: #F7F7F7;
  border-color: #777777;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
.navbar-brand {
  font-family: 'Berkshire Swash', cursive;
  font-size : 34px;
  color: $jabbr-red !important;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.siteFont{
  font-family: 'Droid Serif', Serif;
}
.overViewFont{
  color: #777;
}
.navBarBg{
  background-color: #F7F7F7;
  border-color: #777777;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/**
 * Message Styles
 */

 .unseen {
  background-color: #888;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'account/preferences/preferences.scss';
@import 'admin/admin.scss';
@import 'dashboard/dashboard.scss';
@import 'dashboard/deck/deck.scss';
@import 'dashboard/inbox/inbox.scss';
@import 'dashboard/messager/messager.scss';
@import 'dashboard/myprofile/myprofile.scss';
@import 'dashboard/overview/overview.scss';
@import 'dashboard/partners/partners.scss';
@import 'dashboard/partnership/partnership.scss';
@import 'dashboard/profile/profile.scss';
@import 'dashboard/recordings/recordings.scss';
@import 'dashboard/room/views/room.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector