.message {
  text-align: center;
}

.message:hover {
  cursor: pointer;
}

.suggestion {
  text-align: center;
  margin: 7.5px 0;
}

.message-content {
  margin-top: 20px;
}

.partner-list-header {
  margin-top: 20px;
  div {
    background-color: $brand-primary;
    color: #fff;
  }
}

img {
  border: solid 1px #555; background-color: #eed; 
  box-shadow: 2px 2px 5px rgba(0,0,0,0.6); 
  -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.6); -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.6); 
  -o-box-shadow: 2px 2px 5px rgba(0,0,0,0.6); 
  max-height: 100px;
  max-width: 100px;
  border-radius: 10px;
}

.wellColor{
  background-color: #4DB362;
  color: white;
  font-size: 16px;
  margin-top: 50px;
}

.overViewFont{
  color: #777;
  cursor: pointer; 
}
