.dashboard {
  position: relative;

  .main-content {
    padding-top: 30px;
  }

  .main-content.theater {
    width: 100%;
  }

  .sidePanel {
    background-color: $dashboard-primary;
    height: 600px;
    color: white;
    padding: 0px;


    h4 {
      text-align: center;
    }

    a {
      color: #fff;
    }

    a:hover {
      color: $dashboard-primary;
    }

    li.active {
      a {
        color: $dashboard-primary;
        background-color: #eee;
      }
    }
  }

  .leftPanel {
    -webkit-transition: visibility linear 1.0s;
    transition: visibility linear 1.0s;
  }

  .rightPanel {
    -webkit-transition: visibility linear 1.0s;
    transition: visibility linear 1.0s;

    h4 {
      font-size: 22px;
    }

    a:hover {
      cursor: pointer;
    }

    li a {
      height: 70px;
      font-size: 18px;
      line-height: 16px;

      .partner-text-col {
        padding-top: 5px;
      }
      
      span {
        font-size: 14px;
      }
      
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  .rightPanel.hideRight {
    display: none;
  }

  .leftPanel.hideLeft {
    display: none;
  }
}