.info {
    font-size: 14px;
}
.player {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    bottom: 10px;
    width: 95%;
 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
}
 
.button {
    display: block;
    width: 34px;
    height: 34px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
}
 
#play {
    background-position: 6px 5px;
}
 
#pause {
    background-position: -32px 5px;
}
 
#mute {
    background-position: -63px 5px;
}
 
#muted {
    background-position: -106px 5px;
}
 
input[type="range"] {
    width: 250px;
    margin-top: -5px;
}
 
#close {
    float: right;
    background-position: -146px 5px;
    display: none;
}
 
.volume {
    position: absolute;
    height: 100px;
    width: 34px;
    border: 1px solid black;
    background-color: #242323;
    top: -97px;
    display: none;
}
input{
    display:none\9!important;
}
input[type="range"] {
    -webkit-appearance: none;
    border: 1px solid black;
    position: absolute;
    top: 18px;
    display: block;
    width: 63%;
    height: 15px;
 
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #242323;
    left: 90px;
 
    -webkit-box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
    -moz-box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
    box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
}
 
input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border:1px solid black;
 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #80e4df; /* Old browsers */
background: -webkit-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
 
    background: -moz-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
    background: -o-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
    background: linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%); /* W3C */
}